@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper styles */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: rgba(124, 58, 237, 0.5) !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: rgba(124, 58, 237, 1) !important;
  opacity: 1 !important;
}